<div class="page show" *ngIf="(product$ | async) as item">
  <div class="container">
    <main>
      <div class="content">
        <h1>
          {{ item?.title }}
        </h1>
        <p>
          {{ item?.description }}
        </p>
      </div>
      <div class="image">
        <img
          [src]="item?.imageUrl"
          [alt]="item?.title"
        />
      </div>
    </main>
    <button (click)="show(tpl, origin)" #origin>Reserve</button>
    <ng-template #tpl let-close="close">
      And here's some amazing content. It's very engaging. Right?
      <div style="display: flex; justify-content: flex-end; margin-top: 10px;">
        <a class="button is-danger is-small" (click)="close({id: 2})">Close</a>
      </div>
    </ng-template>
  </div>
</div>
