.auth-page {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5;
  .logo-wrapper {
      margin-bottom:20px;
      padding-bottom: 20px;
      border-bottom: 1px #d9d9d9 solid;
      img{
          max-width:200px;
          margin:auto;
      }
  }
  .box {
      background: #fff;
      padding: 20px;
      box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.22);
  }
  h1{
      color: #3f51b5;
      text-align:center;
      font-size : 21px;
  }
  form {
      width: 420px;
  }
  .mat-form-field{
      width:100%;
  }
  a{
      color: #3f51b5;
      font-weight: 700;
  }
  button{
      width:100%;
      margin-top:20px;
  }
  .alert-error {
      padding: 10px;
      border-radius: 5px;
      font-size: .9em;
      color: red;
      background-color: #ffe8e3;
      border:1px red solid;
  }
}