.row {
  display: flex;
  flex-wrap: wrap;
}
.col {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  &.col-9 {
      flex:0 0 75%;
  }
  &.col-3 {
      flex:0 0 25%;
  }
}
a {
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
}

.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
.color-primary {
  color: $color-primary;
}
.box-shadow {
  box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.35);
}
.img-fluid {
  max-width: 100%;
  display: block;
}

.width-100 {
  width: 100%;
}

.mat-raised-button.btn-black {
  background-color: #424242;
}

.small-text {
  font-size: .8em;
}
