/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./variables.scss";
@import "./helper_classes.scss";
@import "./layout/header.scss";
@import "./layout/sidebar.scss";
@import "./page/main.scss";
@import "./admin/main.scss";
@import "./auth.scss";

*{
    box-sizing:border-box;
}
body {
    font-family: sans-serif;
    margin:0;
}
h1, h2, h3, h4, h5{
    margin-top:0;
}

a.btn-primary {
    min-width:100px;
}