<article >
  <a routerLink="/show/{{model._id}}">
    <mat-icon *ngIf="model.promoted" class="promoted">grade</mat-icon>
    <img [src]="model.imageUrl" class="img-fluid" alt="model.title" />
    <h2>
      {{ model.title }}
    </h2>
  </a>
</article>
