<header class="header">
  <div class="header__wrapper row">
    <h2 class="logo">
      <a routerLink="/">
        FramApp
      </a>
    </h2>
    <div *ngIf="currentUser; else signIn">
      <span class="header__wrapper-user">
        <span i18n>Logged as:</span> <b> {{ currentUser.email }} </b>
      </span>
      <a
        routerLink="/auth/login"
        class="btn-primary"
        mat-raised-button
        color="primary"
        (click)="logout()"
        i18n
      >
        Logout
      </a>
    </div>

    <ng-template #signIn>
      <a
        routerLink="/auth/login"
        class="btn-primary"
        mat-raised-button
        color="primary"
        u18n
      >
        Sign In
      </a>
    </ng-template>
  </div>
</header>
