<div class="page index-admin product">
    <div class="box">
        <div class="page__header">
            <h1 i18n>
                Products
            </h1>
            <a class="btn-black" [routerLink]="productService.getRoute('create')" mat-raised-button color="primary" i18n>Add Product</a>
        </div>

        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <div class="mat-elevation-z8">
            <app-spinner [spinning]="!productsLoaded"></app-spinner>
            <table class="width-100" mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="imageUrl">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
                    <td mat-cell *matCellDef="let row">
                        <a class="small-thumb" [routerLink]="['edit/',row._id]">
                            <img [src]="row.imageUrl" class="img-fluid" [alt]="row.title"/>
                        </a>
                    </td>
                </ng-container>
                <ng-container matColumnDef="_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let row">
                        <a [routerLink]="['edit/',row._id]">
                            {{row._id}}
                        </a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                    <td mat-cell *matCellDef="let row">
                        <a [routerLink]="['edit/',row._id]">
                            {{row.title}}
                        </a></td>
                </ng-container>

                <ng-container matColumnDef="categoryId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                    <td mat-cell *matCellDef="let row">
                        <a [routerLink]="['edit/',row._id]">
                            {{row.categoryId.title}}</a> </td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                    <td mat-cell *matCellDef="let row">
                        <a [routerLink]="['edit/',row._id]">
                            {{row.price}}</a> </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                    <td mat-cell *matCellDef="let row">
                        <button (click)="openDialog(row._id, row.title)" mat-button color="warn">Remove</button>
                    </td>
                </ng-container>
                

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
</div>