<div class="page show-admin product">
    <div class="box">
        <div class="page__header">
            <h3 i18n>
                Edit product
            </h3>
        </div>
        <mat-tab-group>
            <mat-tab label="Data">
                <ng-template matTabContent>
                    <form class="row" [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="col col-9">
                            <mat-form-field class="width-100" appearance="outline">
                                <mat-label>Title</mat-label>
                                <input matInput formControlName="title" [errorStateMatcher]="matcher">
                                <mat-error
                                    *ngIf="form.get('title').hasError('required')">
                                    Title is <strong> required </strong>
                                </mat-error>
                                <mat-error
                                    *ngIf="form.get('title').hasError('minlength')">
                                    Title must be <strong> at least 2 characters length </strong>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="width-100" appearance="outline">
                                <mat-label>Description</mat-label>
                                <textarea matInput formControlName="description"></textarea>
                            </mat-form-field>
                            <mat-form-field class="width-100" appearance="outline">
                                <mat-label>Price</mat-label>
                                <input matInput formControlName="price" [errorStateMatcher]="matcher">
                                <mat-error
                                    *ngIf="form.get('price').hasError('required')">
                                    Price is <strong> required </strong>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="width-100" appearance="outline">
                                <mat-label>Image url</mat-label>
                                <input matInput formControlName="imageUrl">
                            </mat-form-field>

                            <button class="btn-black" style="margin-right:10px;" mat-raised-button type="submit"
                                color="primary">Update</button>
                            <a [routerLink]="productService.getRoute('index')" mat-raised-button>Cancel</a>
                        </div>
                        <div class="col col-3">
                            <mat-form-field class="width-100" appearance="outline">
                                <mat-label>Amount</mat-label>
                                <input type="number" matInput formControlName="amount" [errorStateMatcher]="matcher">
                                <mat-error
                                    *ngIf="form.get('amount').hasError('required')">
                                    Amount is <strong> required </strong>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="width-100" appearance="outline">
                                <mat-label>Category</mat-label>
                                <mat-select formControlName="categoryId" placeholder="Select category">
                                    <mat-option *ngFor="let item of categories" [value]="item._id">
                                        {{ item.title }}
                                    </mat-option>
                                </mat-select>
                                <mat-error
                                    *ngIf="form.get('categoryId').hasError('required')">
                                    Category is <strong> required </strong>
                                </mat-error>
                            </mat-form-field>
                            <mat-checkbox color="primary" formControlName="promoted">
                                Promoted
                            </mat-checkbox>
                        </div>
                    </form>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>