<aside class="sidebar">
  <article>
    <h4 class="title" i18n>
      Categories
    </h4>
    <nav>
      <a
        *ngFor="let item of categories"
        [routerLink]="['/category',item._id]"
        mat-button
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        {{ item.title }}
      </a>
    </nav>
    <h4 class="title" i18n>
      Admin
    </h4>
    <nav>
      <a mat-button [routerLink]="['/admin/categories']" routerLinkActive="active" i18n>
        Categories
      </a>
      <a mat-button [routerLink]="['/admin/products']" routerLinkActive="active" i18n>
        Products
      </a>
    </nav>
  </article>
</aside>
