<div class="auth-page">
  <div class="box">
    <h1 i18n>
      REGISTER
    </h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="width-100" appearance="outline">
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="Name"
            formControlName="name"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="registerForm.get('name').hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="width-100" appearance="outline">
          <mat-label>Surname</mat-label>
          <input
            matInput
            placeholder="Surname"
            formControlName="surname"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="registerForm.get('name').hasError('required')">
            Surname is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      <mat-form-field class="width-100" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Email"
          formControlName="email"
          [errorStateMatcher]="matcher"
        />
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="registerForm.get('email').hasError('pattern') && !registerForm.get('email').hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="registerForm.get('email').hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="registerForm.get('email').hasError('alreadyExists')">
          {{ errorMessage }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="width-100" appearance="outline">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="Password"
          formControlName="password"
          [errorStateMatcher]="matcher"
        />
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error *ngIf="registerForm.get('password').hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="width-100" appearance="outline">
        <mat-label>Password confirmation</mat-label>
        <input
          type="password"
          matInput
          placeholder="Password confirmation"
          formControlName="password_confirm"
          [errorStateMatcher]="matcher"
          pattern="{{ registerForm.get('password').value }}"
        />
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error *ngIf="registerForm.get('password_confirm').hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="registerForm.get('password_confirm').hasError('pattern')">
          Given passwords <strong> are not the same </strong>
        </mat-error>
      </mat-form-field>
      <div class="small-text">
        Already registered?
        <a routerLink="/auth/login">
          Go to login page
        </a>
      </div>

      <button mat-raised-button type="submit" color="primary" i18n>
        Login
      </button>
    </form>
  </div>
</div>
