.page {
  &__header {
    display:flex;
    justify-content:space-between;
    align-items: center;
    h1{
      margin:0;
      font-size: 1.3em;
    }
  }
}
.index-admin {
  .mat-table {
    a:hover{
      color:$color-primary;
    }
    .small-thumb{
      max-width: 100px;
      padding:5px;
      display:block;
    }
  }
  .mat-elevation-z8{
    position: relative;
  }
}
.show-admin {
  .mat-tab-body-content {
    padding: 15px 0;
  }

}