<div class="page index-admin category">
    <div class="box">
        <div class="page__header">
            <h1 i18n>
                Categories
            </h1>
            <a class="btn-black" [routerLink]="categoryService.getRoute('create')" mat-raised-button color="primary" i18n>Add Category</a>
        </div>

        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <div class="mat-elevation-z8">
            <app-spinner [spinning]="!categoriesLoaded"></app-spinner>
            <table class="width-100" mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let row">
                        <a [routerLink]="['edit/',row._id]">
                            {{row._id}}
                        </a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                    <td mat-cell *matCellDef="let row">
                        <a [routerLink]="['edit/',row._id]">
                            {{row.title}}
                        </a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                    <td mat-cell *matCellDef="let row">
                        <a [routerLink]="['edit/',row._id]">
                            {{row.description}}</a> 
                        </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                    <td mat-cell *matCellDef="let row">
                        <button (click)="openDialog(row._id, row.title)" mat-button color="warn">Remove</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
</div>