<div class="auth-page">
  <div class="box">
    <h1 i18n>
      LOGIN
    </h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="width-100" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Email"
          formControlName="email"
          [errorStateMatcher]="matcher"
        />
        <mat-icon matSuffix>email</mat-icon>
        <mat-error
          *ngIf="loginForm.get('email').hasError('pattern') && !loginForm.get('email').hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="loginForm.get('email').hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="loginForm.get('email').hasError('notFound')">
          {{ errorMessage }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="width-100" appearance="outline">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="Password"
          formControlName="password"
          [errorStateMatcher]="matcher"
        />
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error *ngIf="loginForm.get('password').hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="loginForm.get('password').hasError('incorrect')">
          {{ errorMessage }}
        </mat-error>
      </mat-form-field>
      <div class="small-text">
        Don't have account?
        <a [routerLink]="['/auth/register']">
          Register
        </a>
      </div>

      <button mat-raised-button type="submit" color="primary" i18n>
        Login
      </button>
    </form>
  </div>
</div>
