<h1 mat-dialog-title>{{data.name}}</h1>
<div mat-dialog-content>
  <p [innerHTML]="data.caption"></p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="warn" [mat-dialog-close]="data" cdkFocusInitial>Confirm</button>
</div>