.products {
    position: relative;
    &__item {
    padding: 15px;
    flex: 0 0 215px;
    padding-bottom: 20px;
    article {
      background-color: #f1f1f1;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      position: relative;
      transition: 0.2s ease-out;
      &:hover {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        transform: scale(1.02);
      }
    }

    h2 {
      font-weight: 400;
      font-size: 1.2em;
      margin-bottom: 0;
      padding: 10px;
    }
    .promoted {
      color: yellow;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 2em;
      height: 32px;
      width: 32px;
    }
  }
}

.show {
  margin-top: 50px;
  .container {
    max-width: 992px;
    margin: auto;
    padding: 0 15px;
    width: 100%;
  }
  main {
    display: flex;
  }
  .content {
    padding-right: 40px;
  }
  .image {
    margin-left: auto;
    max-width:100%;
    width:220px;
  }
}
