<div class="page">
    <div class="products row">
        <app-product class="products__item" *ngFor="let item of products" [model]="item"></app-product>
        <app-spinner [spinning]="!productsLoaded"></app-spinner>
    </div>
</div>