.header {
    background-color: #f9f9f9;
    box-shadow: 1px 1px 13px rgba(0,0,0,.2);
    &__wrapper {
        align-items:center;
        justify-content: space-between;
        padding:15px 30px;
        &-user {
            font-size: .8em;
            margin-right: 15px;
        }
    }
    .logo{
        margin:0;
    }
}