.sidebar {
    width: 200px;
    padding:20px 14px;
    background-color: #f1f1f1;
    box-shadow: 0px 13px 13px rgba(0, 0, 0, 0.2);
    min-height: 100vh;
    article {
        margin-bottom:10px;
        h4 {
            padding: 16px;
            border-bottom:1px #fff solid;
            font-size: 1em;
            color: rgba(63, 81, 181, .7);
            margin-bottom:5px;
        }
    }
    a {
        display:block;
        font-weight: 600;
        text-align: initial;
        &:hover {
            .mat-button-focus-overlay {
                opacity:.1;
            }
        }
        &.active {
            .mat-button-focus-overlay {
                opacity: .1;
            }
        }
    }
}