<div class="page category" *ngIf="category$ | async as category">
  <main>
    <h1>
      {{ category.title }}
    </h1>
    <p>
      {{ category.description }}
    </p>
    <div class="products row">
      <app-product
        class="products__item"
        *ngFor="let item of category.products"
        [model]="item"
      ></app-product>
      <app-spinner [spinning]="!productsLoaded"></app-spinner>
    </div>
  </main>
</div>
