<div class="page show-admin category">
    <div class="box">
        <div class="page__header">
            <h1 i18n>
                Edit category
            </h1>
        </div>
        <mat-tab-group>
            <mat-tab label="Data">
                <ng-template matTabContent>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <mat-form-field class="width-100" appearance="outline">
                            <mat-label>Title</mat-label>
                            <input matInput formControlName="title" [errorStateMatcher]="matcher">
                        </mat-form-field>
                        <mat-form-field class="width-100" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea matInput formControlName="description" [errorStateMatcher]="matcher"></textarea>
                        </mat-form-field>

                        <button style="margin-right:10px;" mat-raised-button type="submit"
                            color="primary">Update</button>
                        <a [routerLink]="categoryService.getRoute('index')" mat-raised-button>Cancel</a>
                    </form>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>